main.index-container div.map {
  height: 100%;
  width: 100%;
  resize: both;
  overflow: auto;
}

div#workouts {
  position:absolute;
  z-index: 1000;
  margin-top: 75px;
}

div#workouts .workout {
  width: 300px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#workouts .workout.selected {
  border-width: 2px;
  border-color: #666;
  border-style: solid;
  border-radius: 3px;
  margin-left: 3px;
}

div#workouts .workout .info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

div#workouts .workout .info div {
  flex-grow: 1;
}

div#workouts .workout:hover {
  background-color: rgba(0, 21, 143, 0.4);
  cursor: pointer;
}

div.stats-overlays {
  position: absolute;
  z-index: 1000;
  position: absolute;
  right: 0;
  background-color: rgba(255,255,255,0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

div#waypoint-stats, div#workout-stats {
  width: 300px;
  padding: 1em;
}

div.waypoint-stats {
    display: flex;
}

div.overlay.stats h4 {
  margin: -5px 0 0 0;
  padding: 0;
}

div.overlay.stats ul {
  list-style-type: none;
  min-width: 140px;
  padding: 0;
  margin: 0;
}

div.waypoint-stats .column {
  flex: 50%;
}
div.waypoint-stats .row {
  flex: 100%;
}

div.waypoint-stats li.heading{
  display: flex;
}

div.waypoint-stats div.incline {
  width: 107px;
  height: 80px;

  border-radius: 40px;
  background-color: rgb(133,203,199);
  background-image: url(assets/cyclist.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
}

div.waypoint-stats div.incline.animating {
  background-image: url(assets/cyclist.gif);
}

div.waypoint-stats div.cyclist {
  margin-top: 0.4em;
}

div.waypoint-stats div.cyclist.easterly {
  transform: rotate3d(0, 1, 0, -0.5turn);
}

div.column.right {
  text-align: right;
  margin-right: 10px;
}

div.animation-controls {
  font-size: 1em;
}

div.animation-controls span.button:hover{
  color: #44AA44;
  cursor: pointer;
}

div.animation-controls strong {
  color: #44AA44;
}

img.leaflet-marker-icon.cyclist.westerly, img.leaflet-marker-shadow.cyclist.westerly {
  transform: rotate3d(0, 1, 0, 0.5turn);
}

img.leaflet-marker-icon.cyclist {
  width: 30px;
  height: 30px;
  margin-top: -24px;
}

img.leaflet-marker-shadow.cyclist {
  width: 30px;
  height: 30px;
  margin-top: -6px;
  margin-left: 3px;
}